@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary-500 {
  color: #0366d6;
}

.bg-primary-200 {
  background-color: #e6f2ff;
}

/* secondary color */
.text-secondary-500 {
  color: #f66a0a;
}

.bg-secondary-300 {
  background-color: #ffe8d5;
}
